.exp-education-main-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.education-table {

}

.exp-education-bg1 {
    background-color: #f4f0ec;
}

.exp-education-bg2 {
    background-color: #bab6b2;
}

.exp-education-bg3 {
    background-color: #f4f0ec;
}

.wrapper {
    width: 400px;
}



