.exp-education-main-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.exp-education-bg1 {
    background-color: #f4f0ec;
}

.exp-education-bg2 {
    background-color: #bab6b2;
}

.exp-education-bg3 {
    background-color: #f4f0ec;
}

.wrapper {
    width: 400px;
}

.skill-hover:hover {
    background-color: #f4f0ec;
    border-radius: 50%;
    text-align: center;
    color: red;
    transition: 1s ease-in-out;
}

.soft-skills-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hard-skills-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    background-color: #f4f0ec;
    flex-wrap: wrap;

}