.github-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 1px solid black;
    width: 270px;
    padding: 10px;
    cursor: pointer;
}

.github-projects-img {
    width: 200px;
    height: 160px;
}

.github-projects:hover {
    opacity: 1;
}

.github-projects {
    opacity: 0.7;
    border-radius: 10px;
}

.github-projects img {
    width: 100%;
    height: 150px;
}

.github-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}